@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");

.App {
  text-align: center;
  box-sizing: border-box;
  width: 100%;

  font-family: "Noto Sans KR", sans-serif;
}

.App * {
  list-style-type: none;
}

.App button {
  border: none;
  outline: none;
  background-color: inherit;
  cursor: pointer;
}
